[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
orjson = "*"
requests = "*"
malexport = {git = "https://github.com/seanbreckenridge/malexport/"}
url-cache = "==0.0.7"
fastapi = "==0.99.0"  # last release before pydantic 2.0, so I can keep using sqlmodel
sqlmodel = ">=0.0.8"
GitPython = "*"
uvicorn = {extras = ["standard"], version = "*"}
more-itertools = "*"
ipdb = "*"
pickledb = "*"
boto3 = "*"
httpx = "*"
alembic = "*"
pydantic = "<2.0.0"

[dev-packages]
mypy = "*"
pytest = "*"
types-requests = "*"
flake8 = "*"
types-appdirs = "*"
types-simplejson = "*"
lxml-stubs = "*"
types-pyyaml = "*"
types-pygments = "*"
types-dateparser = "*"

[requires]
python_version = "3.10"

[scripts]
dev = 'uvicorn app.main:app --workers 1 --port 5200 --reload --reload-exclude data'
prod = 'uvicorn app.main:app --port 5200'
alembic = 'alembic'
# create new migration
alembic_create_migration = 'alembic revision --autogenerate'
# update database from migrations
alembic_migrate = 'alembic upgrade head'
# e.g. run:
# pipenv run alembic_create_migration -m "add new table"
# pipenv run alembic_migrate
#
# in prod:
# pipenv run alembic_migrate && pipenv run prod
