click
orjson
requests
fastapi==0.99.0
sqlmodel>=0.0.8
GitPython
uvicorn[standard]
more-itertools
ipdb
pickledb
boto3
httpx
alembic
pydantic<2.0.0
url-cache>=0.0.9
malexport

mypy
pytest
types-requests
flake8
types-appdirs
types-simplejson
types-ujson
lxml-stubs
types-pyyaml
types-python-dateutil
types-pygments
types-dateparser
