<.flash_group flash={@flash} />
<section class="flex w-full flex-col items-start justify-center p-3">
  <!-- wrap text in pre to display json -->
  <pre class="text-sm text-gray-700 font-mono dark:text-gray-300 whitespace-pre-wrap">
    <code class="language-json">
      <%= @data %>
    </code>
  </pre>
</section>
